@model Thermory.Web.Models.OrderForm

<table>
    <tr>
        <td>
            <label for="customerId">Customer</label>
        </td>
        <td>
            <select id="customerId" class="form-control" onchange="customerChanged();">
                <option value="@Guid.Empty" selected="selected">Add New</option>
                @foreach (var customer in Model.Customers)
                {
                    var selected = customer.Id == Model.Order.CustomerId ? " selected=\"selected\"" : "";
                    <option value="@customer.Id" @selected>@customer.Name</option>
                }
            </select>
        </td>
        <td>
            <input type="text" id="customerName" class="form-control" />
        </td>
    </tr>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        customerChanged();
    });

    function customerChanged() {
        var selectedCustomer = $('#customerId option:selected');

        var customerName = selectedCustomer.val() == '@Guid.Empty' ? '' : selectedCustomer.text();
        $('#customerName').val(customerName);
    }

    function getCustomer() {
        return {
            Id: $('#customerId').val(),
            Name: $('#customerName').val()
        };
    }
</script>