@using Thermory.Domain.Constants
@{
    ViewBag.Title = "Index";
}
<h3><strong>Sales Orders</strong></h3>@if (User.IsInRole(Role.InventoryMaster))
{
    <div style="margin: 5px 0 5px 0;">
        <div type="button" class="btn btn-primary" onclick="window.location=('@Url.Action("Create", "SalesOrder")');">
            <span class="glyphicon glyphicon-plus"></span> Create Sales Order
        </div>
    </div>
}
<div id="orderDiv" style="height: 450px"></div>
<div>
    @Html.Partial("Order/_OutstandingSalesOrders")
</div>

<script>
    $(document).ready(function () {
        $('#orderDiv').w2grid({
            name: 'orderGrid',
            url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "SalesOrderGrid" })',
            autoLoad: true,
            limit: 500,
            msgRefresh: 'Loading',
            show: {
                toolbar: true,
                footer: false,
                toolbarSave: false,
                toolbarDelete: false,
                toolbarSearch: true
            },
            searches: [
                { field: 'OrderNumber', caption: 'Order Number', type: 'text' },
                { field: 'CustomerName', caption: 'Customer', type: 'text' },
                { field: 'CreatedOn', caption: 'Created On', type: 'date' },
                { field: 'CreatedBy', caption: 'Created By', type: 'text' },
                { field: 'Status', caption: 'Status', type: 'list', options: { items: ['Sent to warehouse', 'Warehouse received', 'Pulled', 'Packaging slip created', 'Loaded', 'Deleted'] } }
            ],
            columns: [
                {
                    field: 'OrderNumber', caption: 'Order Number', size: '20%', sortable: true, resizable: true, render: 'text'
                },
                {
                    field: 'CustomerName', caption: 'Customer', size: '20%', sortable: true, resizable: true, render: 'text'
                },
                {
                    field: 'CreatedOn', caption: 'Created On', size: '20%', sortable: true, resizable: true, render: 'date'
                },
                {
                    field: 'CreatedBy', caption: 'Created By', size: '20%', sortable: true, resizable: true, render: 'text'
                },
                {
                    field: 'Status',
                    caption: 'Status',
                    size: '20%',
                    sortable: false,
                    resizable: true,
                    render: function (record) {
                        var icon = getGlyphicon(record.Status);
                        return '<div class="' + record.OrderStatus.StatusLabel.CssClass + '" style="margin-left: 3px;' + record.OrderStatus.StatusLabel.Style + '"><span class="glyphicon glyphicon-' + icon + '"></span> ' + record.Status + '</div>';
                    }
                }
            ],
            sortData: [
                { field: 'CreatedOn', direction: 'desc' }
            ],
            onSelect: function (event) {
                window.location = ('@Url.Action("Review", "SalesOrder")/' + event.recid);
            }
        });
    });
</script>
