@model Thermory.Domain.Models.MiscellaneousCategory

<table class="table table-condensed inventory">
    <colgroup>
        <col/>
        <col style="width: 100%;"/>
    </colgroup>
    @foreach (var subCategory in Model.MiscellaneousSubCategories.OrderBy(s => s.SortOrder))
    {
        <tr class="englishHeading">
            <td><div><strong>@subCategory.Name</strong></div></td>
            <td><div><strong>Quantity</strong></div></td>
        </tr>
        foreach (var miscellaneousProduct in subCategory.MiscellaneousProducts.OrderBy(p => p.SortOrder))
        {
            var cellStyle = miscellaneousProduct.Quantity < 0 ? "style=color:red;" : "";
            <tr>
                <td class="productType">@miscellaneousProduct.Name (@miscellaneousProduct.Description)</td>
                <td class="productType" @cellStyle  >@miscellaneousProduct.Quantity.ToString("n0")</td>
            </tr>
        }
    }
</table>