@model Thermory.Domain.Models.MiscellaneousCategory

<table class="table table-condensed inventory">
    <colgroup>
        <col/>
        <col style="width: 100%;"/>
    </colgroup>
    @foreach (var subCategory in Model.MiscellaneousSubCategories)
    {
        <tr class="englishHeading">
            <td><div><strong>@subCategory.Name</strong></div></td>
            <td><div><strong>Quantity</strong></div></td>
        </tr>
        foreach (var miscellaneousProduct in subCategory.MiscellaneousProducts)
        {
            <tr>
                <td class="productType">@miscellaneousProduct.Name (@miscellaneousProduct.Description)</td>
                <td class="productType">@miscellaneousProduct.Quantity</td>
            </tr>
        }
    }
</table>