@{
    ViewBag.Title = "Index";
}

<h3><strong>Users</strong></h3>
<div id="userGrid" style="height: 450px"></div>
<div id="userDetails" style="display: none; padding-top: 10px;">
    <div class="row" style="margin-top: 5px">
        <div class="col-sm-4" style="text-align: right">
            <label>Email Address:</label>
        </div>
        <div class="col-sm-5">
            <span id="emailAddress"></span>
        </div>
    </div>
    <div class="row" style="margin-top: 5px">
        <div class="col-sm-4" style="text-align: right">
            <label>Roles:</label>
        </div>
        <div class="col-sm-5">
            <input id="roles" />
        </div>
    </div>
    <div class="row" style="margin-top: 5px">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <div type="button" class="btn btn-success" onclick="saveUser();">
                <span class="glyphicon glyphicon-ok"></span> Save
            </div>
            <div type="button" class="btn btn-danger" onclick="$('#userDetails').hide();">
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var roles = ['Inventory Master', 'Warehouse Crew'];
    var currentUser = null;

    $(document).ready(function () {
        $('#userGrid').w2grid({
            name: 'userGrid',
            url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "UserGrid" })',
            autoLoad: true,
            limit: 500,
            msgRefresh: 'Loading',
            show: {
                toolbar: true,
                footer: false,
                toolbarSave: false,
                toolbarDelete: false,
                toolbarSearch: true
            },
            searches: [
                { field: 'FirstName', caption: 'First Name', type: 'text' },
                { field: 'LastName', caption: 'Last Name', type: 'text' }
            ],
            columns: [
                {
                    field: 'FirstName', caption: 'First Name', size: '20%', sortable: true, resizable: true, render: 'text'
                },
                {
                    field: 'LastName', caption: 'Last Name', size: '20%', sortable: true, resizable: true, render: 'text'
                },
                {
                    field: 'UserName', caption: 'Email Address', size: '30%', sortable: true, resizable: true, render: 'text'
                },
                {
                    field: 'RoleNames', caption: 'Roles', size: '30%', resizable: true
                }
            ],
            onClick: function (event) {
                currentUser = w2ui['userGrid'].get(event.recid);
                $('#emailAddress').text(currentUser.UserName);
                $('#userDetails').show();
                $('#roles').w2field('enum', { items: roles, openOnFocus: true, selected: currentUser.RoleNames });
            }
        });
    });

    function saveUser() {
        var selected = $('#roles').data('selected');
        currentUser.RoleNames = [];

        for (var i = 0; i < selected.length; ++i) {
            currentUser.RoleNames.push(selected[i].id);
        }

        $.ajax({
            type: 'PUT',
            url: '@Url.Action("Save", "User")',
            data: currentUser,
            dataType: 'text',
            success: function (data) {
                if (data.toLowerCase() != 'true') {
                    w2alert(data, 'Error');
                    return;
                }

                $('#userDetails').hide();
                w2ui['userGrid'].reload();
            },
            error: function () {
                w2alert('There was an error saving the user.', 'Error');
            }
        });
    }
</script>
