@model HandleErrorInfo

<div class="title">
    <h2 class="error">An error occurred while processing your request.</h2>
</div>
<h3><em>@Model.Exception.Message</em></h3>
@if (Model.Exception.InnerException != null)
{
    <br />
    <h3><em>@Model.Exception.InnerException.Message</em></h3>
}
