@model Thermory.Web.Models.ErrorInfo

@if (Model != null)
{
    <h1>@Model.Message</h1>
    <p>@Model.Description</p>
}
else
{
    <h1>An Error Has Occured</h1>
    <p>An unexpected error occured on our website. The website administrator has been notified.</p>
}
