@model Thermory.Web.Models.InventoryWorksheet
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var firstCategoryId = Model.LumberProductCategories.First().Id;
}

<ul class="nav nav-tabs" data-tabs="tabs">
    @{
        foreach (var category in Model.LumberProductCategories)
        {
            var active = category.Id == firstCategoryId ? "class=active" : "";
            <li @active><a href="#@category.Id" data-toggle="tab">@category.Name</a></li>
        }
    }
</ul>
<div class="tab-content">
    @{
        foreach (var category in Model.LumberProductCategories)
        {
            var active = category.Id == firstCategoryId ? "active" : "";
            <div id="@category.Id" class="tab-pane @active">
                @Html.Partial("_LumberFamily", category)
            </div>
        }
    }
</div>