@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Thermory.Web.Models.ProductFamilyIndex


<ul class="nav nav-tabs" data-tabs="tabs">
    @{
        foreach (var productFamily in Model.RootProductFamilies)
        {
            var active = Model.ActiveProductFamily != null && productFamily.Id == Model.ActiveProductFamily.Id ? "class=active" : "";
            <li @active><a href="/ProductFamily/Index/@productFamily.Id">@productFamily.Name</a></li>
        }
    }
</ul>
<div class="tab-content">
    <div class="tab-pane active">
        Hello World!
    </div>
</div>