<hgroup class="title">
    <h1>Forgot password</h1>
</hgroup>

<div id="forgotPasswordForm">
    <fieldset>
        <legend>Send password reset instructions</legend>
        <ol>
            <li>
                <label for="emailAddress">Email address</label>
                <input id="emailAddress" class="form-control">
            </li>
        </ol>
    </fieldset>
    <div class="btn btn-primary" onclick="sendPasswordResetEmail();">
        <span class="glyphicon glyphicon-envelope"></span> Email Password Reset Instructions
    </div>
</div>
<div id="passwordResetStatus"></div>

<script language="javascript">
    function sendPasswordResetEmail() {
        var forgeryId = $("#forgeryToken").val();
        var email = $('#emailAddress').val();
        var data = { emailAddress: email };
        var dataJson = JSON.stringify(data);

        $('#passwordResetStatus').text = null;
        $('#forgotPasswordForm').hide();
        $('#passwordResetStatus').empty();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ForgotPassword", "Account")',
            contentType: 'application/json',
            dataType: 'json',
            data: dataJson,
            headers: {
                'VerificationToken': forgeryId
            },
            success: function (data, status, request) {
                if (data.status == "error") {
                    $('#forgotPasswordForm').show();
                    $('#passwordResetStatus').append(data.message);
                    return;
                }
                $('#passwordResetStatus').append('An email has been sent to ' + email + ' with a link to reset your password.');
            },
            error: function (data, status, request) {
                $('#forgotPasswordForm').show();
                $('#passwordResetStatus').append('Error sending email');
            }
        });
    }
</script>